uvicorn
llama-index
pymongo
pypdf2
fastapi==0.110.0
injector
transformers
chromadb
accelerate
openai
pydantic==2.6.2
elasticsearch
aiohttp
langchain
langchain_experimental
langchain_community
sentence_transformers
python-multipart
celery
redis
eventlet
flower