fastapi 
pymongo 
celery 
flower
redis 
openai 
pydantic 
pypdf2 
injector
ragas
eventlet
elasticsearch
chromadb
zhipuai
transformers
sentence_transformers
torch
xformers
llama_index
python-multipart
uvicorn
pymilvus
span_marker
networkx